<!-- Partial head -->
<%- include('../partials/head.ejs')%>
    <title>Perfil | Focal Glow</title>
    <link rel="stylesheet" href="/css/styles-category-detail.css">

</head>
   

<body>
    <%- include('../partials/header.ejs')%>
  <main>
      
		<section class="data">
      <div class="title">
        <h2><%=category.name%></h2>
        <a href="/category/edit/<%=category.id%>"><p class="edit-button">Editar</p> </a>
      </div>

      <article class="profile-info">
			  <div class = "row">
				  <label>Category Id</label>
          <p><%=category.id%></p>
			  </div>
			  <div class = "row">
			  <label>Nombre</label>
          <p><%=category.name%></p>
			  </div>
			</article>        
    </section>
    <section class="image">  	
      <img class="profileImg" src="<%=category.imageCover%>">
     </section>
        
  </main>

</body>

</html>