<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Categoría | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-category-edit.css">
    

</head>



<body>
  <%- include('../partials/header.ejs')%>

  <form method="POST" action="/category/edit/<%=category.id%>?_method=PUT" enctype="multipart/form-data">
		<main>
			<section class="images">
				
				<label for="imageCover">
					<img id="imageCover" class="imageCover" src="<%=category.imageCover%>">
				</label>
				<div class="file-btn">
					Cambiar imagen Cover
					<input onchange="loadFile1(event)" type="file" name="imageCover" accept="image/*">	
					<script>
						var loadFile1 = function (event) {
							var output = document.getElementById('imageCover');
							output.src = URL.createObjectURL(event.target.files[0]);
							output.onload = function () {
							URL.revokeObjectURL(output.src) // free memory
							}
						}
					</script>
				</div>
				<p><%=(locals.errors && errors.imageCover)? errors.imageCover.msg : '' %></p>
					  	
				<label for="imageHome">
					<img id="imageHome" class="imageHome"  src="<%=category.imageHome%>">
				</label>

				<div class="file-btn">
					Cambiar imagen Home
					<input onchange="loadFile2(event)" type="file" name="imageHome" accept="image/*">
				
					<script>
          	var loadFile2 = function (event) {
            	var output = document.getElementById('imageHome');
            	output.src = URL.createObjectURL(event.target.files[0]);
            	output.onload = function () {
              	URL.revokeObjectURL(output.src) // free memory
            	}
          	}
      		</script>
				</div>
				<p><%=(locals.errors && errors.imageHome)? errors.imageHome.msg : '' %></p>		
			</section>

			<section class="data">
        <div class="title">
					<h2><%=category.name%></h2>
					<button type="submit" class="btn">Actualizar</button>
				</div>

				<article class="info">        
					<div class = "row">    
						<label for="id">Category Id</label>
            <input class="edit" name="id" readonly value="<%=category.id%>">
					</div>

					<div class = "row">
						<label for="name">Nombre</label>
            <input type="text" name="name"
							<% if (locals.errors && errors.name) {%>
									class = "error"
									placeholder = "<%=errors.name.msg%>"
							<%} else if (locals.oldData) { %>
									class="edit" 
									value="<%=oldData.name%>" <%} else {%>
									class="edit" 
									value="<%=category.name%>"<%}%>
						>
					</div>

        </article>    
      </section>
		</main>
  </form> 
</body>
</html>