<!-- Partial head -->
<%- include('../partials/head.ejs')%>

	<title>Focal Glow | Listado de Categorías </title>
  <link rel="stylesheet" href="/css/styles-category-list.css">
</head>

  <body>
    <%- include('../partials/header.ejs')%>

    <main>
      <h3 class="titulo" id="title">Listado de Categorías</h3>
			<div class="add-container">
      	<a href="/category/add"><button id="product-create" class="add-product">Agregar Categoría</button></a>
    	</div>

    	<h4 class='form-lista-productos'>Cantidad de Categorías : <%= categoryList.length %> </h4>

      <table id="customers">
        <tr>
          <th class="id center">ID</th>
          <th class ="left">Nombre</th>
          <th class="profile center">Imagen de Categoría</th>
          <th class="center">Ver</th>
          <th class="center">Editar</th>
          <th class ="center">Borrar</th>
        </tr>
      <% categoryList.forEach(e=> { %>
        <tr>
          <td class="id center">
            <%= e.id%>
          </td>
          <td>
            <%= e.name%>
          </td>
          <td class="center">
            <img class = "img-round" src= "<%=categoryImagePath%><%=e.imageCover ?e.imageCover : ''%>">
                                 
          </td>
          <td class="center"> 
            <a href="/category/detail/<%=e.id%>"><i class="fas fa-search"></i></a>
          </td>
          <td class="center"> 
              <a href="/category/edit/<%=e.id%>"><i class="far fa-edit"></i></a>
          </td>
          <td class="center">
              <form action="/category/<%=e.id%>?_method=DELETE" method="POST">
                  <button type="submit"><i class="far fa-trash-alt"></i></button>
              </form>
          </td>
      	</tr>
      <%})%>
      </table> 
                
			<div class="up-button">
        <a href="#title"><i class="fas fa-chevron-up"></i></a>
      </div>
    </main>
  </body>

</html>