<!-- Partial head -->
<%- include('../partials/head.ejs')%>
    <title>Perfil | Focal Glow</title>
    <link rel="stylesheet" href="/css/styles-category-detail.css">

</head>
   

<body>
    <%- include('../partials/header.ejs')%>
  <main>

    <section class="images">  
      <div class="image_cover">
        <img src="<%=categoryImagePath%><%=category.imageCover%>">
        <p>Cover Image</p>
      </div>	
      <div class="image_home">
        <img  src="<%=categoryImagePath%><%=category.imageHome%>">
        <p>Home Image</p>
      </div> 
     </section>
      
		<section class="data">
      <div class="title">
        <h2>Detalle de categoría: <%=category.name%></h2>
        <a href="/category/edit/<%=category.id%>"><p class="edit-button">Editar</p> </a>
      </div>

      <article class="details">
			  <div class = "row">
				  <label>Category Id</label>
          <p><%=category.id%></p>
			  </div>
			  <div class = "row">
			    <label>Nombre de la categoría</label>
          <p><%=category.name%></p>
			  </div>
			</article>        
    </section>
   

        
  </main>

</body>

</html>