<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Crear Categoría | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-category-create.css">
    



</head>

<body>
  <%- include('../partials/header.ejs')%>

  <main>
    <form class="create" method="POST" action="/category/add" enctype="multipart/form-data">
			
      <h2>Formulario para la creación de categoría</h2>
			<label for="name">Nombre de la categoria</label>
      <input class="<%=(locals.errors && errors.name) ? 'error' : 'edit'%>" type="text" name="name" 
				<% if (locals.errors && errors.name) {%>
					placeholder = "<%=errors.name.msg%>"
				<%} else if (locals.oldData) { %>
					value="<%=oldData.name%>" <%} else {%>
					value=""<%}%>
				> 
			
			<section class="images-container">
				<div class="add-image">
					<label for ="image_cover" class="file-btn">Imagen Cover</label>
					<input type="file" id="image_cover" name="image_cover" accept="image/*" onchange="document.getElementById('image_cover_display').src = window.URL.createObjectURL(this.files[0])">
					<figure>
						<img id="image_cover_display" class="images"/>	
					</figure>
				</div>
				<div class="add-image">
					<label for = "image_home">Imagen Home</label>
					<input type="file" id="image_home" name="image_home" accept="image/*" onchange="document.getElementById('image_home_display').src = window.URL.createObjectURL(this.files[0])">
					<figure>
						<img id="image_home_display" class="images"/>
					</figure>
				</div>
			</section>

			<div class="btn-container">
				<button type="submit" class="btn">Crear</button>
			</div>
	  
		</form> 
	</main>
</body>

</html>