<%- include('../partials/head.ejs')%>
<title>Focal Glow | Listado de Productos</title>  
<link rel="stylesheet" href="/css/style-product-list.css" />
</head>
    <body>
        <%- include('../partials/header.ejs')%>
        <h3 class="titulo">Listado de productos</h3>
        <div class="add-container">
            
        <a href="/product/add"><button id="product-create" class="add-product">Agregar producto</button></a>
        </div>
        <h4 class='form-lista-productos'>Cantidad de productos : <%= products.length %> </h4>
        <h4 class='form-lista-productos'> Recordá que los primeros 4 productos son los que van a SALE</h4>
        <div class='form-lista-productos'>
            <div class="product_container">
                <h2>ID
                </h2>
                <h2>Categoria
                </h2>
                <div class="inner_data">
                    <h2>Nombre
                    </h2>
            
                </div>
                <div class="inner_data">
                    <h2>Imagen

                    </h2>
                </div>
                <div class="inner_data">
                    <h2>Cantidad
                    </h2>
                </div>
                <div class="inner_data">
                    <h2>Precio
                    </h2>
                </div>
                <div class="inner_data">
                    <h2>Accion
                    </h2>
                </div>
            </div>    
            <% for (let i =0 ; i < products.length; i++) {%>
              <div class="product_container"> 
                 <h2> <%=products[i].id%></h2> 
                <h2 ><%=products[i].category%></h2>
                <div class="inner_data">
                    <h2><%=products[i].name%></h2>
                    
                </div>
                <div class="inner_img">
                    <img src="<%=products[i].main_image%>" alt="" width="60" height="60">
                </div>
                <div class="inner_data">
                    <h2><%=products[i].qty%></h2>
                </div>
                <div class="inner_data">
                    <h2>$<%=products[i].price%></h2>
                </div>     
                <div >
                    <div class="button-container"> 
                        <a href='/product/detail/<%=products[i].id%>'><i class="fas fa-search"><!-- <button id="button-product">Ver Producto</button> --></i></a>
                        <a href='/product/<%=products[i].id%>/edit'><i class="far fa-edit"><!-- <button id="button-modificar">Modificar</button> --></i></a>
                    <form  class='' action="/product/<%=products[i].id%>?_method=DELETE"  method="POST">    
                           <button type="submit" class="delete_icon"><i class="far fa-trash-alt"></i></button><!-- <button id="button-eliminar" type="submit">Eliminar</button> -->
                        </form> 
                            
                    </div>      
                </div>
              </div>               
           <%}%>
        
        </div>  
        <div class="up-button">
            <a href="#product-create"><i class="fas fa-chevron-up"></i></a>
        </div>

        <%- include('../partials/footer.ejs')%>
    </body>
</html>    