<%- include ('../partials/head')%>
  <title>Focal Glow | <%=product.name%></title>            
  <link rel="stylesheet" href="/css/style-product-detail.css" />
  </head>

  <body>
    <!--HEADER-->
    <%- include ('../partials/header')%>

    <div class="product-name">
      <h2><%=product.name%></h2>
      <a href="#" onclick="history.go(-1)"><i id="x" class="fas fa-arrow-circle-left"></i></a>
    </div>

    <main>
      <div class="product-detail">
        <div class="main-img">
          <%images.forEach(image => {%>
            <% if (image.type == 'main') { %>
              <img src="<%=productImagePath + image.name%>" alt="luminaria" />
            <% } %>
          <%})%>
        </div>
        <i class="fas fa-ruler"></i>

        <div class="product-dimensions">
          <%images.forEach(image => {%>
            <% if (image.type == 'dimension') { %>
              <img src="<%=productImagePath + image.name%>" alt="dimensiones luminaria" />
              <% } %>
          <%})%>
        </div>

        <div class="slider-container">

          <%/*Recorro las imagenes*/%>
          <%images.forEach(image =>{%>
                      <%/*si es type slider*/%>
          <%if(image.type == 'slider'){%>
                      <%/*la convierto en un array*/%>
            <%const arraySlider = image.name.split(',')%>
                      <%/*Recorro el array y creo tantos imputs como imagenes haya*/%>
                      <%/*Esta conversión puede sea conveniente resolverla en el controlador y no en la vista - DEFINIR*/%>
            <%arraySlider.forEach((sliderImage, index) =>{%>
              <input type="radio" id="trigger<%=index+1%>" name="slider" checked autofocus>
              <label for="trigger<%=index+1%>"></label>
              <div class="slide <%=index+1%>">
                <img src ="<%=productImagePath + sliderImage%>">
              </div>
              <%})%>
         
            <%}})%>        
        </div>
      </div>

      <div class="product-info">
        <section class="technical-info">
          <div class = "technical-info-title">
            <h3>Configure su producto</h3>
            <p>Potencia, Temperatura de Color, Óptica & Control</p>
          </div>
          <div class = "options">
            <div class="options-column">
              <select name="power" class="btn">
                  <%features.forEach(function (element) {%> 
                    <%if(element.type != '' && element.type == 'power'){%>
              <option value="<%=element.id%>"><%=element.name%></option>
                    <%}})%>
              </select>
              <select name="cct" class="btn">
                <%features.forEach(function (element) {%> 
                  <%if(element.type != '' && element.type == 'cct'){%>
            <option value="<%=element.id%>"><%=element.name%></option>
                  <%}})%>
              </select>
            </div>
            <div class="options-column">
              <select name="optic" class="btn">
                  <%features.forEach(function (element) {%> 
                    <%if(element.type != '' && element.type == 'optic'){%>
              <option value="<%=element.id%>"><%=element.name%></option>
                    <%}})%>
              </select>
              <select name="dim" class="btn">               
                <%features.forEach(function (element) {%> 
                  <%if(element.type != '' && element.type == 'dim' && element.name == 'Switch'){%>
                    <option value="<%=element.id%>">&#xf011; <%=element.name%></option>
                    <%}else if(element.type != '' && element.type == 'dim' && element.name == 'Bluetooth'){%>
                      <option value="<%=element.id%>">&#xf293; <%=element.name%></option>
                      <%} else if(element.type != '' && element.type == 'dim') {%>
                        <option value="<%=element.id%>"><%=element.name%></option>
                  <%}})%>
            </select>
            </div>
          </div>
        
          <article class="technical-data">
            <h3>Características</h3>
            <ul>
              <li>Material:
              <%features.forEach(element => {%>
                <% if (element.type == 'material') { %>
                  <%=element.name%>
                <% } %>
                <%})%>
              </li>
              <li>Fuente:
                <%features.forEach(element => {%>
                  <% if (element.type == 'source') { %>
                    <%=element.name%>
                  <% } %>
                  <%})%>
                </li>
            </ul>
            <p><strong>Descripción:</strong> <br>
              <%=product.description%></p>
          </article>
        </section>

        <section class="price">
          <h3 class="price-title">$ 
            <% const toThousand = (n) =>
                n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') %>
             <%= toThousand(product.price)%></h3>
          <div class="qtyadd">
            <input type="number" placeholder="1" min="0" />
            <button class="add">AÑADIR</button>
          </div>
        </section>

        <div class="product-dimensions-info">
          <img src="<%=product.imageDimension%>" alt="dimensiones luminaria" />
          <span>Dimensiones</span>
        </div>

        <section class="documents">
          <a href="<%=product.specSheet%>" target="_blank"><span><i class="far fa-file-pdf"></i> Hoja Técnica</span></a>
          <a href="<%=product.installSheet%>"target="_blank"><span><i class="far fa-file-pdf"></i> Manual de Instalación</span></a>
        </section>
      </div>
    </main>

    <section class="similar-products-container">
      <article class="similar-products">
        <h3>Productos Similares</h3>
        <div class="slider-container">
          <% similarProductsFiltered.forEach((element, index) => { %>
            <input type="radio" id="trigger<%=index +3%>" name="slider<%=index +3%>" checked autofocus >
            <label for="trigger<%=index + 3%>"></label>
            <div class="slide2 <%=index + 3%>">
              <a href="/product/detail/<%=element.id%>"><img src ="<%=productImagePath + element.images[0].name%>"></a>
            </div>  
          <%}) %>
        </div>
      </article>
    </section>

    

    <!--FOOTER-->
    <%- include('../partials/footer') %>
  </body>
</html>
