<%- include('../partials/head.ejs')%>
<title>Focal Glow | Listado de Productos</title>  
<link rel="stylesheet" href="/css/styles-product-list.css">
</head>

  <body>
		<!--HEADER-->
    <%- include('../partials/header.ejs')%>

  	<main>     
			<h3 class="titulo">Listado de Productos</h3>
    	<div class="add-container">
      	<a href="/product/add"><button id="product-create" class="add-product">Agregar producto</button></a>
    	</div>

    	<h4 class='form-lista-productos'>Cantidad de productos : <%= products.length %> </h4>
    	

    	<table id="products">
      	<tr>
					<th class="center id">ID</th>
					<th class="left">Categoría</th>
					<th class="left">Nombre</th>
					<th class="left">Precio</th>
					<th class="center">Cantidad</th>
					<th class="center">Imagen</th>
					<th class="center">Detalle</th>
					<th class="center">Editar</th>
					<th class="center">Borrar</th>
				</tr>

			
			<% products.forEach(product => {%>
      	<tr>
        	<td class="center id">
          	<%=product.id%>
        	</td>
        	<td>
						<%=product.category.name%>
        	</td>
        	<td>
          	<%=product.name%>
        	</td>
        	<td>
						<% const toThousand = (n) =>n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') %>
          	$<%= toThousand(product.price)%>
					</td>
					<td class="center">
						<%=product.qty%>
					</td>
        	<td class="center">
				<%for(i = 0 ; i < product.images.length; i++){%>
					<% if (product.images[i].type == 'main') { %>
						<img class = "img-redonda" src="<%=productImagePath + product.images[i].name%>">
					<% } %>
					<%}%>
        	</td>
        	<td class="center">
          	<a href='/product/detail/<%=product.id%>'><i class="fas fa-search"></i></a>
        	</td>
        	<td class="center"> 
          	<a href="/product/<%=product.id%>/edit"><i class="far fa-edit"></i></a>
        	</td>
        	<td class="center">
          	<form action="/product/<%=product.id%>?_method=DELETE" method="POST">
            	<button type="submit" ><i class="far fa-trash-alt"></i></button>
          	</form>
        	</td>
      	</tr>
      	<%})%>
			</table>	
  	</main> 
		<div class="up-button">
			<a href="#product-create"><i class="fas fa-chevron-up"></i></a>
		</div>

		<!--FOOTER-->
    <%- include('../partials/footer.ejs')%>
	</body>
	
</html>    