<%- include('../partials/head.ejs')%>
  <link rel="stylesheet" href="/css/styles-product-org.css">
  </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <h2 class="titulo">Modificación de Producto</h2>
                <div class="container-form">
                    <form id="register" action="/product/<%= productFound.id %>/edit?_method=PUT" method="POST">
                        <div class="first">
                            <div class="cateogry-selector">
                                <label class="" for="category">Categoria: </label><br>
                                <select name="category" class="select">
                                    <option value="<%= productFound.categoria %>"><%= productFound.category %></option>
                                    <option value="Plafon">Plafón</option>
                                    <option value="Aplique">Aplique</option>
                                    <option value="Pie">Pie</option>
                                    <option value="Colgante">Colgante</option>
                                    <option value="Spot">Spot</option>
                                    <option value="Accesorios">Sistemas/Accesorios</option>
                                    <option value="Mesa">Mesa</option>
                                    <option value="Exterior">Exterior</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="first">
                            <div class="in-line-data">
                                <label class="" for="name">Nombre del Producto: </label><br>
                                <input class="box" type="text" name="name" id="producto" value="<%= productFound.name %> " >
                            </div>
                        </div><br>
                        <div class="first">
                            <div class="in-line-data">
                                <label class="" for="qty">Cantidad: </label><br>
                                <input class="box" type="number" name="qty" id="producto" min="0" value="<%= productFound.qty %> " >
                            </div>
                        </div><br>
                        <div class="first-">
                            <label class="" for="source">Fuente: </label>

                            <div>
                                <input class="radio" type="radio" name="source" value="led"  <%= productFound.source == "led" ? 'checked' : '' %>>LED Incorporado
                            </div>
                            <div>
                                <input class="radio" type="radio" name="source" value="Lampara"  <%= productFound.source == 'Lampara' ? 'checked' : '' %>>Lampara
                            </div>
                        </div><br>
                        <div>
                            <div class="first-">
                                <label class="" for="material">Material: </label>
                                <div>
                                    <input class="check" type="checkbox" name="material" value="Aluminio"  <%= (productFound.material.includes("Aluminio") ? 'checked' : '')%>> Aluminio
                                </div>
                                <div>
                                    <input class="check" type="checkbox" name="material" value="Madera"  <%= (productFound.material.includes("Madera") ? 'checked' : '')%>> Madera
                                </div>
                                <div>
                                    <input class="check" type="checkbox" name="material" value="Chapa"  <%= (productFound.material.includes("Chapa") ? 'checked' : '') %>> Chapa
                                </div>
                                <div>
                                    <input class="check" type="checkbox" name="material" value="Hierro"  <%= (productFound.material.includes("Hierro") ? 'checked' : '')%>> Hierro
                                </div>
                            </div>
                            <div class="in-line-data">
                                <label class="otros-materiales" for="otros-material">Otros materiales: </label><br>
                                <input class="box-1" type="text" name="material" id="otros-material"
                                    placeholder="Opcional">
                            </div>
                        </div><br>
                        <div class="first-">
                            <label class="" for="optic">Optica: </label>
                            <div>
                                <input class="check" type="checkbox" name="optic" value="Flood"  <%= productFound.optic.includes("Flood") ? 'checked' : '' %>> Flood
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="optic" value="Spot"  <%=  productFound.optic.includes("Spot") ? 'checked' : '' %>> Spot
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="optic" value="WideFlood" <%=  productFound.optic.includes("Wideflood") ? 'checked' : ''%>> Wide Flood
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="optic" value="Oval"  <%=  productFound.optic.includes("Ovalflood") ? 'checked' : ''%>> Oval
                            </div>
                        </div><br>
                        <div class="first-">
                            <label for="power">Potencia: </label>
                            <% for(j=0;j<4;j++){ %>
                                <select name="power" class="select">
                                    <option value="<%= productFound.power[j] %>"><%= productFound.power[j] %></option>
                                    <% for(i=1;i<=100;i++){ %>     
                                        <option value="<%=[i]%>W">
                                            <%=[i]%>W
                                        </option>
                                        <%}%>
                                </select>
                                <%}%>
                        </div><br>
                        <div class="first-">
                            <label class="" for="cct">CCT: </label>
                            <div>
                                <input class="check" type="checkbox" name="cct" value="2700"  <%=  (productFound.cct.includes(2700) ? 'checked' : '')%>> 2700K
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="cct" value="3000"  <%=  (productFound.cct.includes(3000) ? 'checked' : '')%>> 3000K
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="cct" value="3500"  <%=  (productFound.cct.includes(3500) ? 'checked' : '')%>> 3500K
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="cct" value="4000"  <%=  (productFound.cct.includes(4000) ? 'checked' : '')%>> 4000K
                            </div>
                        </div><br>
                        <div class="first-">
                            <label class="" for="dim">Dim: </label>
                            <div>
                                <input class="check" type="checkbox" name="dim" value="Switch"  <%=  (productFound.dim.includes("Switch") ? 'checked' : '')%>> Switch
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="dim" value="Dimeable"  <%= (productFound.dim.includes("Dimeable") ? 'checked' : '')%>> Dimeable
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="dim" value="DALI"  <%= (productFound.dim.includes("DALI") ? 'checked' : '')%>> DALI
                            </div>
                            <div>
                                <input class="check" type="checkbox" name="dim" value="Bluetooth"  <%= (productFound.dim.includes("Bluetooth") ? 'checked' : '')%>> Bluetooth
                            </div>
                        </div><br>
                        <div class="first-">
                            <label class="" for="price">Precio unitario base: </label><br>
                            <input class="box" type="number" name="price" id="precio" min="0"
                                placeholder=" Ej 15235.35" value="<%= productFound.price %>" >
                        </div><br>
                        <div class="imagenes">
                            <div class="imagen-input">
                                <label class="title" for="product_img">Imagen Principal: </label><br>
                                <input type="file" name='product_img' accept=".jpg">
                            </div><br>
                            <div class="imagen-input">
                                <label class="title" for="image_dimension">Dimensiones del Producto: </label><br>
                                <input type="file" name="image_dimension" accept=".jpg">
                            </div><br>
                        </div>
                        <div class="imagenes">
                            <div class="imagen-input">
                                <label class="title" for="image_slider">Slider: </label><br>
                                <input type="file" name="image_slider" accept=".jpg , .png"> <br>
                                <input type="file" name="image_slider" accept=".jpg , .png"><br>
                                <input type="file" name="image_slider" accept=".jpg , .png">
                            </div><br>
                        </div>
                        <div class="imagenes">
                            <div class="imagen-input">
                                <label class="" for="data_sheet">Hoja Técnica: </label><br>
                                <input type="file" src="" alt="" name="data_sheet" accept=".pdf">
                            </div><br>
                            <div class="imagen-input">
                                <label class="" for="install_sheet">Manual de Instalación: </label><br>
                                <input type="file" src="" alt="" name="install_sheet" accept=".pdf">
                            </div><br>
                        </div>
                        <div class="button-container">
                            <button id="button-enviar" type="submit">Modificar</button>
                            <button id="button-borrar" type="reset">Resetear</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs')%>
    </body>
</html>    