<%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/styles-product-create.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <h2 class="titulo">Creación de Producto</h2>
                <div class="container-form">
                    <form id="register" action="/product/add" method="POST" enctype="multipart/form-data">
                        
                        <div class="form_left">

                        
                            <div class="first">
                                <div class="cateogry-selector">
<<<<<<< HEAD
                                    <label class="" for="category">Categoria: </label><br>
                                    <select name="categoryId" class="select" id="categoryId">
                                        <option value="">Seleccionar</option>
=======
                                    <label class="" for="category" id="category-label">Categoria: </label><br>
                                    <select name="categoryId" class="select" id="category-select" >
                                        <option value="" >Seleccionar</option>
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                        <% locals.categories.forEach(element => { %>
                                            <option id="category" value="<%=element.id%>"
                                                <%=locals.old && old.categoryId && old.categoryId == element.id ? 'selected' : ''%>
                                                ><%=element.name.charAt(0).toUpperCase() + element.name.slice(1)%></option>
                                        <% }) %>
                                     </select>
                                     


                                </div>
                            </div>
                            <span class="error_msg" id="category-error"><%= locals.errors && errors.category ? errors.category.msg : null  %></span><br>
                            
                            <div class="first">
<<<<<<< HEAD
                                <div class="in-line-data">
                                    <label class="" for="name">Nombre del Producto: </label><br>
                                    <input class="box" type="text" name="name" id="productName" value="<%= locals.old && old.name ? old.name : '' %>">
                                    <span class="error_msg"><%= locals.errors && errors.name ? errors.name.msg : null  %></span>
                                </div>
                            </div><br>
                            <div class="first">
                                <div class="in-line-data">
                                    <label class="" for="quantity">Cantidad: </label><br>
                                    <input class="box" type="number" name="quantity" id="productQuantity" min="0" value="<%= locals.old && old.quantity ? old.quantity : '' %>" >
                                    <span class="error_msg">
=======
                                <div class="in-line-data" id="product-name-div">
                                    <label class="" for="name" id="label-product-name">Nombre del Producto: </label><br>
                                    <input class="box" type="text" name="name" id="input-product-name" value="<%= locals.old && old.name ? old.name : '' %>">
                                    <span class="error_msg" id="error-product-name"><%= locals.errors && errors.name ? errors.name.msg : null  %></span>
                                </div>
                            </div><br>
                            <div class="first">
                                <div class="in-line-data" id="quantity-div">
                                    <label class="" for="quantity" id="label-quantity">Cantidad: </label><br>
                                    <input class="box" type="number" name="quantity" id="input-quantity" min="0" value="<%= locals.old && old.quantity ? old.quantity : '' %>" >
                                    <span class="error_msg" id="error-quantity">
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                        <%= locals.errors && errors.qty ? errors.qty.msg : null %>
                                    </span>
                                </div>
                            </div><br>
                            <div class="first-">
<<<<<<< HEAD
                                <label class="" for="source">Fuente: </label>
                                <%featuresList.forEach(source => {%> <!--Recorre la lista de TODAS las features-->
                                    <% if (source.type == 'source') { %> <!--Evalua las que son material-->
                                        <div><input class="radio" type="radio" id="productSource" name="source" 
=======
                                <label class="" for="source" id="source-label">Fuente: </label>
                                <%featuresList.forEach(source => {%> 
                                    <% if (source.type == 'source') { %> 
                                        <div><input class="radio" type="radio" name="source" id="source" 
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                            value="<%=source.id%>"
                                            <%=locals.old && old.source && old.source == source.id ? 'checked' : ''%>>
                                            <%=source.name%>
                                </div>
                                <%}})%>
                            </div>
                            <span class="error_msg" id="source-error"><%=locals.errors && errors.source ? errors.source.msg : '' %></span><br>
                            <div>
                            <div class="first-">
<<<<<<< HEAD
                                <label class="" for="material">Material: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(material => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (material.type == 'material') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" id="productMaterial" name="material[]" value="<%=material.id%>" 
=======
                                <label class="" for="material" id="material-label">Material: </label>
                                    <%featuresList.forEach(material => {%>
                                        <% if (material.type == 'material') { %> 
                                            <div><input class="check" type="checkbox" name="material[]" id="material" value="<%=material.id%>" 
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                                <%if(locals.old && old.material){%>
                                                    <%old.material.forEach(oldmaterial => {%>
                                                        <%=oldmaterial == material.id ? 'checked' : '' %>
                                                        <%})%>
                                                <%}%> > <%=material.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                             </div>
                            </div>
                            <span class="error_msg" id="material-error"><%=locals.errors && errors.material ? errors.material.msg : '' %></span><br>
                            <div class="first-">
<<<<<<< HEAD
                                <label class="" for="optic">Optica: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(optic => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (optic.type == 'optic') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" id="productOptics" name="optic[]" value="<%=optic.id%>"
=======
                                <label class="" for="optic" id="optic-label">Optica: </label>
                                    <%featuresList.forEach(optic => {%> 
                                        <% if (optic.type == 'optic') { %> 
                                            <div><input class="check" type="checkbox" name="optic[]" id="optic" value="<%=optic.id%>"
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                                <%if(locals.old && old.optic){%>
                                                    <%old.optic.forEach(oldOptic => {%>
                                                        <%=oldOptic == optic.id ? 'checked' : '' %>
                                                        <%})%>
                                                <%}%> 
                                                > <%=optic.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                            </div>
                            <span class="error_msg" id="optic-error"><%=locals.errors && errors.optic ? errors.optic.msg : '' %></span><br>
                            <div class="first-">
                                <label for="power" id="power-label">Potencia: </label>
																
                                    <select multiple name="power" id="productPower" class="select">
                                        <%featuresList.forEach(power => {%>
                                            <%if(power.type == 'power'){%>
                                                <option  value="<%=power.id%>" id="power"
                                                    <%if(locals.old && old.power){%>
                                                        <%old.power.forEach(oldPower => {%>
                                                            <%=oldPower == power.id ? 'selected' : '' %>
                                                            <%})%>
                                                    <%}%> 
                                                    ><%=power.name%></option>
                                            <%}})%>                                   
                                        </select>
																				<p>Apretando CTRL podrás seleccionar más de una potencia</p>
                            </div>
                            <span class="error_msg" id="power-error"><%=locals.errors && errors.power ? errors.power.msg : '' %></span><br>
                            <div class="first-">
<<<<<<< HEAD
                                <label class="" for="cct">CCT: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(cct => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (cct.type == 'cct') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" id="productCCT" name="cct[]" value="<%=cct.id%>" 
=======
                                <label class="" for="cct" id="cct-label">CCT: </label>
                                    <%featuresList.forEach(cct => {%> 
                                        <% if (cct.type == 'cct') { %> 
                                            <div><input class="check" type="checkbox" name="cct[]" id="cct" value="<%=cct.id%>" 
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                                <%if(locals.old && old.cct){%>
                                                    <%old.cct.forEach(oldCct => {%>
                                                        <%=oldCct == cct.id ? 'checked' : '' %>
                                                        <%})%>
                                                <%}%> > <%=cct.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                            </div>
                            <span class="error_msg" id="cct-error"><%=locals.errors && errors.cct ? errors.cct.msg : '' %></span><br>
                            <div class="first-">
<<<<<<< HEAD
                                <label class="" for="dim">Dim: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(dim => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (dim.type == 'dim') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" id="productDim" name="dim[]"
=======
                                <label class="" for="dim" id="dim-label">Dim: </label>
                                    <%featuresList.forEach(dim => {%> 
                                        <% if (dim.type == 'dim') { %> 
                                            <div><input class="check" type="checkbox" id="dim" name="dim[]"
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                                                value="<%=dim.id%>" 
                                                <%if(locals.old && old.dim){%>
                                                    <%old.dim.forEach(oldDim => {%>
                                                        <%=oldDim == dim.id ? 'checked' : '' %>
                                                        <%})%>
                                                <%}%>                                                
                                                > <%=dim.name%>
                                            </div>
                                                <% } %> 
                                                 <%})%>
                            </div>
                            <span class="error_msg" id="dim-error"><%=locals.errors && errors.dim ? errors.dim.msg : '' %></span><br>
                            <div class="first-" id='price-div'>
                                <label class="price" id="price-label" for="price">Precio unitario base: </label>
                                <input class="price" type="number" name="price" id="price-input" min="0" max="999999999999"
                                    step="0.01" placeholder=" Ej 1525.35" value="<%= locals.old && old.price ? old.price : '' %>" >   
                                    <span class="error_msg" id="price-error"><%=locals.errors && errors.price ? errors.price.msg : '' %></span><br>                           
                            </div>
<<<<<<< HEAD
                            <span class="error_msg"><%=locals.errors && errors.price ? errors.price.msg : '' %></span><br>
                            <div class="description-container">
                                <label class="title" for="description">Descripción del producto:</label><br> 
                                <textarea class ="description" id="textArea" name="description" placeholder="Poné una descripción copada" value=><%=locals.old && old.description ? old.description : '' %></textarea><br>
                                <span class="error_msg"><%=locals.errors && errors.description ? errors.description.msg : '' %></span> 
=======
                            <div class="description-container" id="description-div">
                                <label class="title" for="description" id="description-label">Descripción del producto:</label><br> 
                                <textarea class ="description" id="description-input" name="description" placeholder="Poné una descripción copada" value=><%=locals.old && old.description ? old.description : '' %></textarea><br>
                                <span class="error_msg" id="description-error"><%=locals.errors && errors.description ? errors.description.msg : '' %></span> 
>>>>>>> 5cc374e017c594a8c16f093455f70d79ec7c1a60
                            </div>
                        </div>

                        <div class="form_right">
                            
                            <div class="imagenes">
                                <div class="imagen-input" id="div-main-image">
                                    <label class="title" for="main" id="main-image-label">Imagen Principal: </label><br>
                                    <input type="file" name="main" id="main-image-input" onchange="loadFile(event)" accept=".jpg"><br>
                                    <span class="error_msg" id="main-image-error"><%=locals.errors && errors.main ? errors.main.msg : '' %></span>
                                    <br>
                                    <p>Preview:</p>
                                    <img id="output" />
                                    <script>
                                        var loadFile = function (event) {
                                            var output = document.getElementById('output');
                                            output.src = URL.createObjectURL(event.target.files[0]);
                                            output.onload = function () {
                                                URL.revokeObjectURL(output.src) // free memory
                                            }
                                        };
                                    </script>
                                </div><br>
                                <div class="imagen-input" id="dimension-image-div">
                                    <label class="title" for="dimension" id="dimension-image-label">Dimensiones del Producto: </label><br>
                                    <input type="file" name="dimension" id="dimension-image-input" onchange="loadFiles(event)" accept=".jpg , .png"><br>
                                    <span class="error_msg" id="dimension-image-error"><%=locals.errors && errors.dimension ? errors.dimension.msg : '' %></span>
                                    <br>
                                    <p>Preview:</p>
                                    <img id="outpu"/>
                                    <script>
                                        var loadFiles = function (event) {
                                            var output = document.getElementById('outpu');
                                            output.src = URL.createObjectURL(event.target.files[0]);
                                            output.onload = function () {
                                                URL.revokeObjectURL(output.src) // free memory
                                            }
                                        };
                                    </script>
                                </div><br>
                            </div>
                            <div class="imagenes">
                                <div class="imagen-input" id="slider-image-div">
                                    <label class="title" for="image_slider" id="slider-image-label">Slider: </label><br>
                                    <input type="file" multiple name="slider" id="slider-image-input" accept=".jpg , .png"> <br>
                                    <span class="error_msg" id="slider-image-error"><%=locals.errors && errors.slider? errors.slider.msg : '' %></span> <br>
                                </div><br>
                            </div>
                            <div class="imagenes">
                                <div class="imagen-input">
                                    <label class="" for="data_sheet" id="label-data-sheet">Hoja Técnica: </label><br>
                                    <input type="file" src="" alt="" name="dataSheet" id="input-data-sheet" accept=".pdf"><br>
                                    <span class="error_msg" id="error-data-sheet"><%=locals.errors && errors.dataSheet ? errors.dataSheet.msg : '' %></span>
                                </div>
                                
                                <br>
                                <div class="imagen-input">
                                    <label class="" for="install_sheet" id="label-install-sheet">Manual de Instalación: </label><br>
                                    <input type="file" src="" alt="" name="installSheet" id="input-install-sheet" accept=".pdf"><br>
                                    <span class="error_msg" id="error-install-sheet"><%=locals.errors && errors.installSheet? errors.installSheet.msg : '' %></span>
                                </div><br>
                            </div>
                        </div>
                        <div class="button-container">
                            <button id="button-enviar" type="submit">Agregar Producto</button>
                            <button id="button-borrar" type="reset">Resetear</button>
                        </div>
                    </form>
                </div>
            </main>
            <script src='/js/validationCreateProductForm.js'></script>
            <%- include('../partials/footer.ejs')%>
            <script src='/js/product-validation.js'></script>
    </body>

    </html>