<%- include ('../partials/head')%>
  <title>Focal Glow | <%=productFound.name%></title>            
  <link rel="stylesheet" href="/css/style-product-detail.css" />
  </head>

  <body>
    <!--HEADER-->
    <%- include ('../partials/header')%>

    <div class="product-name">
      <h2><%=productFound.name%></h2>
      <a href="#" onclick="history.go(-1)"><i id="x" class="fas fa-arrow-circle-left"></i></a>
    </div>

    <main>
      <div class="product-detail">
        <div class="main-img">
          <img src="<%=productFound.main_image%>" alt="luminaria" />
        </div>
        <i class="fas fa-ruler"></i>

        <div class="product-dimensions">
          <img src="<%=productFound.image_dimension%>" alt="dimensiones luminaria" />
        </div>

        <div class="slider-container">
          <% for (let i =0 ; i < productFound.image_slider.length; i++) { %>
            <input type="radio" id="trigger<%=i%>" name="slider" checked autofocus>
            <label for="trigger<%=i%>"></label>
            <div class="slide <%=i%>">
              <img src ="<%=productFound.image_slider[i]%>">
            </div>  
          <%} %>
        </div>
      </div>

      <div class="product-info">
        <section class="technical-info">
          <div class = "technical-info-title">
            <h3>Configure su producto</h3>
            <p>Potencia, Temperatura de Color, Óptica & Control</p>
          </div>
          <div class = "options">
            <div class="options-column">
              <select name="power" class="btn">
                <%productFound.power.forEach(function (element) { 
                  if (element != ""){%>
                    <option value="<%=element%>"><%=element%>W</option>
                  <% }}) %>
              </select>
              <select name="cct" class="btn">
                <%productFound.cct.forEach(function (element) { 
                  if (element != "") {%>
                <option value="<%=element%>"><%=element%>K</option>
                <% }}) %>
              </select>
            </div>
            <div class="options-column">
              <select name="optic" class="btn">
                <%productFound.optic.forEach(function (element) { 
                  if (element != "") {%>
                <option value="<%=element%>"><%=element%></option>
                <% }}) %>
              </select>
              <select name="dim" class="btn">
                <%productFound.dim.forEach(function (element) { 
                  switch (element) {
                    case '':
                      break
                    case 'Switch':%>
                      <option value="<%=element%>">&#xf011; <%=element%></option>
                    <%  break
                    case 'Bluetooth': %>
                      <option value="<%=element%>">&#xf293; <%=element%></option>
                    <% break
                    default:%>
                    <option value="<%=element%>"><%=element%></option>
                  <%  break;
                }}) %>
              </select>
            </div>
          </div>
        
          <article class="technical-data">
            <h3>Características</h3>
            <ul>
              <li>Fuente: <%=(productFound.source).toUpperCase()%></li>
              <li>Material:  <%=productFound.material.join('-')%></li>
            </ul>
            <p><strong>Descripción:</strong> <br>
              <%=productFound.description%></p>
          </article>
        </section>

        <section class="price">
          <h3 class="price-title">$<%= productFound.price%></h3>
          <div class="qtyadd">
            <input type="number" placeholder="1" min="0" />
            <button class="add">AÑADIR</button>
          </div>
        </section>

        <div class="product-dimensions-info">
          <img src="<%=productFound.image_dimension%>" alt="dimensiones luminaria" />
          <span>Dimensiones</span>
        </div>

        <section class="documents">
          <a href="<%=productFound.data_sheet%>" target="_blank"><span><i class="far fa-file-pdf"></i> Hoja Técnica</span></a>
          <a href="<%=productFound.install_sheet%>"target="_blank"><span><i class="far fa-file-pdf"></i> Manual de Instalación</span></a>
        </section>
      </div>
    </main>

    <section class="similar-products-container">
      <article class="similar-products">
        <h3>Productos Similares</h3>
        <div class="slider-container">
          <% for (let i =3 ; i <= 5; i++) { %>
            <input type="radio" id="trigger<%=i%>" name="slider2" checked autofocus >
            <label for="trigger<%=i%>"></label>
            <div class="slide2 <%=i%>">
              <img src ="/img/similar_products_<%=i%>.jpg">
            </div>  
          <%} %>
        </div>
      </article>
    </section>

    

    <!--FOOTER-->
    <%- include('../partials/footer') %>
  </body>
</html>
