<%- include ('../partials/head', {title:productFound.producto}) %>            <link rel="stylesheet" href="/css/style-product-detail.css" />
  </head>

  <body>
    <!--HEADER-->
    <%- include ('../partials/header')%>

    <div class="product-name">
      <h2><%=productFound.producto%></h2>
      <a href="#" onclick="history.go(-1)"><i id="x" class="fas fa-arrow-circle-left"></i>
      </a>
    </div>

    <main>
      <div class="product-detail">
        <div class="main-img">
          <img src="<%=productFound.image%>" alt="luminaria" />
        </div>
        <i class="fas fa-ruler"></i>

        <div class="product-dimensions">
          <img src="<%=productFound.image_dimension%>" alt="dimensiones luminaria" />
        </div>

        <div class="slider-container">
          <% for (let i =0 ; i < productFound.image_slider.length; i++) { %>
            <input type="radio" id="trigger<%=i%>" name="slider" checked autofocus>
            <label for="trigger<%=i%>"></label>
            <div class="slide <%=i%>">
              <img src ="<%=productFound.image_slider[i]%>">
            </div>  
          <%} %>
        </div>
      </div>

      <div class="product-info">
        <section class="technical-info">
          <div class="options">
            <div class="options-power-cct">
              <select name="power" class="options-control">
               <%productFound.potencia.forEach(function (element) { 
                if (element != ""){%>
                  <option value="<%=element%>"><%=element%>W</option>
                <% }}) %>
              </select>
              <select name="cct" class="options-control">
                <%productFound.cct.forEach(function (element) { 
                  if (element != "") {%>
                <option value="<%=element%>"><%=element.toUpperCase()%></option>
                <% }}) %>
              
              </select>
            </div>

            <select name="dim" class="options-control-dim">
              <%productFound.dim.forEach(function (element) { 
                switch (element) {
                  case '':
                    break
                  case 'Switch':%>
                    <option value="<%=element%>">&#xf011; <%=element%></option>
                  <%  break
                  case 'Bluetooth': %>
                  <option value="<%=element%>">&#xf293; <%=element%></option>
                  <% break
                  default:%>
                  <option value="<%=element%>"><%=element%></option>
                  <%  break;
                
                 }}) %>

            
            </select>
          </div>

          <article class="technical-data">
            <h3>Características</h3>
            <ul>
              <li>Fuente: <%=(productFound.fuente).toUpperCase()%></li>
              <li>Material:  <%=productFound.material.join('-')%></li>
              <li>Óptica: <%=productFound.optica%></li>
              <li>Potencia [W]: <em>Seleccionar opción</em></li>
              <li>CCT: <em>Seleccionar opción</em></li>
              <li>Dim: <em>Seleccionar opción</em></li>
            </ul>
          </article>
        </section>

        <section class="price">
          <h3 class="price-title">$<%= productFound.precio%></h3>
          <div class="qtyadd">
            <input type="number" placeholder="1" min="0" />
            <button class="add">AÑADIR</button>
          </div>
        </section>

        <div class="product-dimensions-info">
          <img src="<%=productFound.image_dimension%>" alt="dimensiones luminaria" />
          <span>Dimensiones</span>
        </div>

        <section class="documents">
          <span><i class="far fa-file-pdf"></i> Hoja Técnica</span>
          <span><i class="far fa-file-pdf"></i> Manual de Instalación</span>
        </section>
      </div>
        <section class="similar-products-container">
          <article class="similar-products">
            <h3>Productos Similares</h3>
            <div class="slider-container">
              <% for (let i =3 ; i < 5; i++) { %>
                <input type="radio" id="trigger<%=i%>" name="slider" checked autofocus>
                <label for="trigger<%=i%>"></label>
                <div class="slide <%=i%>">
                  <img src ="/img/similar_products_<%=i%>.jpg">
                </div>  
              <%} %>
            </div>
          </article>
        </section>
    </main>

    

    <!--FOOTER-->
    <%- include('../partials/footer') %>
  </body>
</html>
