<%- include ('../partials/head')%>
  <title>Focal Glow | <%=product.name%>
  </title>
  <link rel="stylesheet" href="/css/styles-product-detail.css" />
  </head>

  <body>
    <!--HEADER-->
    <%- include ('../partials/header')%>
      <form action="/checkout/add" method="POST">
        <div class="product-name">
          <h2>
            <%=product.name%>
          </h2>
          <a href="#" onclick="history.go(-1)"><i id="x" class="fas fa-arrow-circle-left"></i></a>
        </div>
        <input type="hidden" name="id" value='<%= product.id %>'>
        <main>
          <div class="product-detail">
            <div class="main-img">
              <%product.images.forEach(image=> {%>
                <% if (image.type=='main' ) { %>
                  <img src="<%=image.name%>" alt="luminaria" />
                  <% } %>
                    <%})%>
            </div>
            <i class="fas fa-ruler"></i>

            <div class="product-dimensions">
              <%product.images.forEach(image=> {%>
                <% if (image.type=='dimension' ) { %>
                  <img src="<%=image.name%>" alt="dimensiones luminaria" />
                  <% } %>
                    <%})%>
            </div>

            <div class="slider-container">


              <%arraySlider.forEach((image, index)=>{%>
                <input type="radio" id="trigger<%=index+1%>" name="slider" checked autofocus>
                <label for="trigger<%=index+1%>"></label>
                <div class="slide <%=index+1%>">
                  <img src="<%=image%>">
                </div>
                <%})%>

            </div>
          </div>

          <div class="product-info">
            <section class="technical-info">
              <div class="technical-info-title">
                <h3>Configure su producto</h3>
                <p>Potencia, Temperatura de Color, Óptica & Control</p>
              </div>
              <div class="options">
                <div class="options-column">
                  <% if (product.features.some(feature=> feature.type == 'power')) { %>
                    <select name="power" id="power-select" class="btn">
                      <%product.features.forEach(feature=> {%>
                        <%if(feature.type=='power' ){%>
                          <option id="power" value="<%=feature.id%>">
                            <%=feature.name%>
                          </option>
                          <%}})%>
                    </select>
                    <%}%>


                      <% if (product.features.some(feature=> feature.type == 'cct')) { %>
                        <select id="cct-select" name="cct" class="btn">
                          <%product.features.forEach(feature=> {%>
                            <%if(feature.type=='cct' ){%>
                              <option id="cct" value="<%=feature.id%>">
                                <%=feature.name%>
                              </option>
                              <%}})%>
                        </select>
                        <% } %>
                </div>

                <div class="options-column">
                  <% if (product.features.some(feature=> feature.type == 'optic')) { %>
                    <select  id="optic-select" name="optic" class="btn">
                      <%product.features.forEach(feature=> {%>
                        <%if(feature.type=='optic' ){%>
                          <option id="optic" value="<%=feature.id%>">
                            <%=feature.name%>
                          </option>
                          <%}})%>
                    </select>
                    <% } %>

                      <% if (product.features.some(feature=> feature.type == 'dim')) { %>
                        <select id="dim-select" name="dim" class="btn">
                          <%product.features.forEach(feature=> {%>
                            <%if(feature.type=='dim' && feature.name=='Switch' ){%>
                              <option id="dim" value="<%=feature.id%>">&#xf011; <%=feature.name%>
                              </option>
                              <%}else if (feature.type=='dim' && feature.name=='Bluetooth' ){%>
                                <option  id="dim" value="<%=feature.id%>">&#xf293; <%=feature.name%>
                                </option>
                                <%} else if (feature.type=='dim' ) {%>
                                  <option id="dim" value="<%=feature.id%>">
                                    <%=feature.name%>
                                  </option>
                                  <%}})%>
                        </select>
                        <% } %>

                </div>
              </div>


              <article class="technical-data">
                <h3>Características</h3>
                <ul>
                  <li>Material:
                    <%product.features.forEach(feature=> {%>
                      <% if (feature.type=='material' ) { %>
                        <%=feature.name%>
                          <% } %>
                            <%})%>
                  </li>
                  <li>Fuente:
                    <%product.features.forEach(feature=> {%>
                      <% if (feature.type=='source' ) { %>
                        <%=feature.name%>
                          <% } %>
                            <%})%>
                  </li>
                </ul>
                <p><strong>Descripción:</strong> <br>
                  <%=product.description%>
                </p>
              </article>
            </section>

            <section class="price">
              <h3 class="price-title" id="product-price">$
                <% const toThousand=(n)=> n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') %>
                  <%=toThousand(product.price)%>
              </h3>
              <div class="qtyadd">
                <input type="number" name='quantity' placeholder="1" min="1" value="1" />
                <%if(locals.user){%>
                  <button class="add" type="submit">AÑADIR</button>
                  <%}else{%>
                    <a class="add" href="/users/login">AÑADIR</a>
                    <%}%>
              </div>
            </section>

      </form>
      <div class="product-dimensions-info">
        <% product.images.forEach(image=> {%>
          <% if (image.type=='dimension' ) { %>
            <img src="<%=image.name%>" alt="dimensiones luminaria" />
            <%}%>
              <%})%>
                <span>Dimensiones</span>
      </div>


      <section class="documents">
        <% product.files.forEach(file=> { %>
          <% if (file.type=='dataSheet' ) { %>
            <a href="<%=file.name%>" target="_blank"><span><i class="far fa-file-pdf"></i> Hoja Técnica</span></a>
            <% } else if (file.type=='installSheet' ) { %>
              <a href="<%=file.name%>" target="_blank"><span><i class="far fa-file-pdf"></i> Manual de
                  Instalación</span></a>
              <%}})%>
      </section>

      </div>
      </main>

      <section class="similar-products-container">
        <article class="similar-products">
          <h3>Productos Similares</h3>
          <div class="slider-container">
            <%similarProductsFiltered.forEach((product, index)=> { %>
              <input type="radio" id="trigger<%=index + 1 + arraySlider.length%>" name="slider2" checked autofocus>
              <label for="trigger<%=index + 1 + arraySlider.length%>"></label>
              <div class="slide2 <%=index + 1 + arraySlider.length%>">
                <a href="/product/detail/<%=product.id%>"><img src="<%=product.images[0].name%>"></a>
              </div>
              <%}) %>
          </div>
        </article>
      </section>


      <script src="/js/product-detail.js"></script>
      <!--FOOTER-->
      <%- include('../partials/footer') %>
  </body>

  </html>