<%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/css/styles-product-org.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <h2 class="titulo">Creación de Producto</h2>
                <div class="container-form">
                    <form id="register" action="/product/add" method="POST" enctype="multipart/form-data">
                        
                        <div class="form_left">

                        
                            <div class="first">
                                <div class="cateogry-selector">
                                    <label class="" for="category">Categoria: </label><br>
                                    <select name="categoryId" class="select">
                                        <option value="<%= locals.old && old.category ? old.category : ''%>"><%=locals.old && old.category ? old.category : 'Seleccionar'%></option>
                                        <% locals.categories.forEach(element => { %>
                                            <option value="<%=element.id%>"><%=element.name.charAt(0).toUpperCase() + element.name.slice(1)%></option>
                                        <% }) %>
                                     </select>
                                     


                                </div>
                            </div>
                            <span class="error_msg"><%= locals.errors && errors.category ? errors.category.msg : null  %></span><br>
                            
                            <div class="first">
                                <div class="in-line-data">
                                    <label class="" for="name">Nombre del Producto: </label><br>
                                    <input class="box" type="text" name="name" id="producto" value="<%= locals.old && old.name ? old.name : '' %>">
                                    <span class="error_msg"><%= locals.errors && errors.name ? errors.name.msg : null  %></span>
                                </div>
                            </div><br>
                            <div class="first">
                                <div class="in-line-data">
                                    <label class="" for="quantity">Cantidad: </label><br>
                                    <input class="box" type="number" name="quantity" id="producto" min="0" value="<%= locals.old && old.qty ? old.qty : '' %>" >
                                    <span class="error_msg">
                                        <%= locals.errors && errors.qty ? errors.qty.msg : null %>
                                    </span>
                                </div>
                            </div><br>
                            <div class="first-">
                                <label class="" for="source">Fuente: </label>
                                <%featuresList.forEach(source => {%> <!--Recorre la lista de TODAS las features-->
                                    <% if (source.type == 'source') { %> <!--Evalua las que son material-->
                                        <div><input class="radio" type="radio" name="source" 
                                            value="<%=source.id%>"><%=source.name%>
                                </div>
                                <%}})%>
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.source ? errors.source.msg : '' %></span><br>
                            <div>
                            <div class="first-">
                                <label class="" for="material">Material: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(material => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (material.type == 'material') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" name="material[]" value="<%=material.id%>" > <%=material.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                             </div>
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.material ? errors.material.msg : '' %></span><br>
                            <div class="first-">
                                <label class="" for="optic">Optica: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(optic => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (optic.type == 'optic') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" name="optic[]" value="<%=optic.id%>" > <%=optic.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.optic ? errors.optic.msg : '' %></span><br>
                            <div class="first-">
                                <label for="power">Potencia: </label>
                                <% for(j=0;j<4;j++){ %>
                                    <select name="power" class="select">
                                        <option value="">Seleccionar</option>
                                        <%featuresList.forEach(power => {%>
                                            <%if(power.type == 'power'){%>
                                                <option value="<%=power.id%>"><%=power.name%></option>
                                            <%}})%>                                   
                                        </select>
                                        <%}%>                                        
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.power ? errors.power.msg : '' %></span><br>
                            <div class="first-">
                                <label class="" for="cct">CCT: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(cct => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (cct.type == 'cct') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" name="cct[]" value="<%=cct.id%>" > <%=cct.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.cct ? errors.cct.msg : '' %></span><br>
                            <div class="first-">
                                <label class="" for="dim">Dim: </label>
                                    <!--DONE, recorre los materiales, arma la lista y si existe el material lo completa @gonza-->
                                    <%featuresList.forEach(dim => {%> <!--Recorre la lista de TODAS las features-->
                                        <% if (dim.type == 'dim') { %> <!--Evalua las que son material-->
                                            <div><input class="check" type="checkbox" name="dim[]" value="<%=dim.id%>" > <%=dim.name%>
                                            </div>
                                                <% } %>
                                            
                                    <%})%>
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.dim ? errors.dim.msg : '' %></span><br>
                            <div class="first-">
                                <label class="price" for="price">Precio unitario base: </label>
                                <input class="price" type="number" name="price" id="precio" min="0" max="999999999999"
                                    step="0.01" placeholder=" Ej 1525.35" value="<%= locals.old && old.price ? old.price : '' %>" >                                   
                            </div>
                            <span class="error_msg"><%=locals.errors && errors.price ? errors.price.msg : '' %></span><br>
                            <div class="description-container">
                                <label class="title" for="description">Descripción del producto:</label><br> 
                                <textarea class ="description" name="description" placeholder="Poné una descripción copada" value=><%=locals.old && old.description ? old.description : '' %></textarea><br>
                                <span class="error_msg"><%=locals.errors && errors.description ? errors.description.msg : '' %></span> 
                            </div>
                        </div>

                        <div class="form_right">
                            
                            <div class="imagenes">
                                <div class="imagen-input">
                                    <label class="title" for="main">Imagen Principal: </label><br>
                                    <input type="file" name="main" onchange="loadFile(event)" accept=".jpg"><br>
                                    <span class="error_msg"><%=locals.errors && errors.main_image ? errors.main_image.msg : '' %></span>
                                    <br>
                                    <p>Preview:</p>
                                    <img id="output" />
                                    <script>
                                        var loadFile = function (event) {
                                            var output = document.getElementById('output');
                                            output.src = URL.createObjectURL(event.target.files[0]);
                                            output.onload = function () {
                                                URL.revokeObjectURL(output.src) // free memory
                                            }
                                        };
                                    </script>
                                </div><br>
                                <div class="imagen-input">
                                    <label class="title" for="dimension">Dimensiones del Producto: </label><br>
                                    <input type="file" name="dimension" accept=".jpg , .png"><br>
                                    <span class="error_msg"><%=locals.errors && errors.image_dimension ? errors.image_dimension.msg : '' %></span>
                                </div><br>
                            </div>
                            <div class="imagenes">
                                <div class="imagen-input">
                                    <label class="title" for="image_slider">Slider: </label><br>
                                    <input type="file" name="slider" accept=".jpg , .png"> <br>
                                    <span class="error_msg"><%=locals.errors && errors.image_slider1? errors.image_slider1.msg : '' %></span> <br>
                                    <input type="file" name="slider" accept=".jpg , .png"> <br>
                                    <span class="error_msg"><%=locals.errors && errors.image_slider2? errors.image_slider2.msg : '' %></span> <br>
                                    <input type="file" name="slider" accept=".jpg , .png"> <br>
                                    <span class="error_msg"><%=locals.errors && errors.image_slider3? errors.image_slider3.msg : '' %></span> <br>
                                </div><br>
                            </div>
                            <div class="imagenes">
                                <div class="imagen-input">
                                    <label class="" for="data_sheet">Hoja Técnica: </label><br>
                                    <input type="file" src="" alt="" name="data_sheet" accept=".pdf"><br>
                                    <span class="error_msg"><%=locals.errors && errors.data_sheet? errors.data_sheet.msg : '' %></span>
                                </div>
                                
                                <br>
                                <div class="imagen-input">
                                    <label class="" for="install_sheet">Manual de Instalación: </label><br>
                                    <input type="file" src="" alt="" name="install_sheet" accept=".pdf"><br>
                                    <span class="error_msg"><%=locals.errors && errors.install_sheet? errors.install_sheet.msg : '' %></span>
                                </div><br>
                            </div>
                        </div>
                        <div class="button-container">
                            <button id="button-enviar" type="submit">Agregar Producto</button>
                            <button id="button-borrar" type="reset">Resetear</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs')%>
    </body>

    </html>