<%- include ('partials/head')%>
  <title>Focal Glow Categoría</title>
  <link rel = "stylesheet" href = "/css/style_categories_general.css">
  
</head>

<body>

  <!--HEADER-->
  <%- include ('partials/header')%>

  <figure class="main-image">
    <img src="<%=category.imageCover%>">
  </figure>
  <main>
    
    <h2 class ="category-title"><%=category.name%></h2>

    <section class="item-list">
      
      <% for (i=1;i<=8;i++) { %>
        <article class="producto">
          <a href="/product"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
          <div class="nombre-precio">
            <p class ="nombre">Nombre del producto</p>
            <p class ="precio">Desde:</p>
          </div>
        </article>
      <%}%>

    </section>
  </main>

  <!--FOOTER-->
  <%- include('partials/footer') %>

    
</body>

</html>