<%- include ('partials/head')%>
  <title>Focal Glow | <%=dataCategory.category.name%></title>
  <link rel = "stylesheet" href = "/css/style_categories_general.css">
  
</head>

<body>

  <!--HEADER-->
  <%- include ('partials/header')%>

  <figure class="main-image">
    <img src="<%=dataCategory.category.image_cover%>">
  </figure>
  <main>
    
    <h2 class ="category-title"><%=dataCategory.category.name%></h2>

    <section class="item-list">
      
      <% dataCategory.product.forEach(element => {%>
        <article class="producto">
          <a href="/product/detail/<%=element.id%>"><img class="zoom" src="<%=element.main_image%>" alt=""></a>
          <div class="nombre-precio">       
            <p class ="nombre">Nombre del producto: <%=element.name%></p>
            <p class ="precio">Desde: <%=element.price%></p>       
          </div>
        </article>
      <%}) %>
        
      

    </section>
  </main>

  <!--FOOTER-->
  <%- include('partials/footer') %>

    
</body>

</html>