<%- include ('partials/head')%>
  <title>Focal Glow | <%=category.name%></title>
  <link rel = "stylesheet" href = "/css/style_categories_general.css">
  
</head>

<body>

  <!--HEADER-->
  <%- include ('partials/header')%>

  <figure class="main-image">
    <img src="<%=category.imageCover%>">
  </figure>
  <main>
    
    <h2 class ="category-title"><%=category.name%></h2>

    <section class="item-list">
      
      <% products.forEach(product => {%>
        <article class="producto">
          <a href="/product/detail/<%=product.id%>"><img class="zoom" src="<%=product.images[0].name%>" alt=""></a>
          <div class="nombre-precio">       
            <p class ="nombre">Nombre del producto: <%=product.name%></p>
            <p class ="precio">Desde: <%=product.price%></p>       
          </div>
        </article>
      <%}) %>
        
      

    </section>
  </main>

  <!--FOOTER-->
  <%- include('partials/footer') %>

    
</body>

</html>