<%- include ('partials/head')%>
  <title>Focal Glow | <%=category.name%></title>
  <link rel = "stylesheet" href = "/css/styles-category-general.css">
  
</head>

<body>

  <!--HEADER-->
  <%- include ('partials/header')%>

  <figure class="main-image">
    <img src="<%=category.imageCover%>">
  </figure>
  <main>
    
    <h2 class ="category-title"><%=category.name%></h2>

    <section class="item-list">
      
      <% products.forEach(product => {%>
        <article class="product">
          <a href="/product/detail/<%=product.id%>">
            <img src="<%=product.images[0].name%>" alt="">
          </a>
          <div class="name-price">       
            <p class ="name"><%=product.name%></p>
            <% const toThousand=(n)=>n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') %>
            <p class ="price">Desde: $<%=toThousand(product.price)%></p>       
          </div>
        </article>
      <%}) %>
        
      

    </section>
  </main>

  <!--FOOTER-->
  <%- include('partials/footer') %>

    
</body>

</html>