<%- include ('partials/head')%>
  <title>Focal Glow Categoría</title>
  <link rel = "stylesheet" href = "/css/style_categories_general.css">
  
</head>

<body>

  <!--HEADER-->
  <%- include ('partials/header')%>

  <figure class="main-image">
    <img src="<%=dataCategory.category.imageCover%>">
  </figure>
  <main>
    
    <h2 class ="category-title"><%=dataCategory.category.name%></h2>

    <section class="item-list">
      
      <% for (i=0;i<dataCategory.product.length;i++) { %>
        <article class="producto">
          <a href="/product/detail/<%=i%>"><img class="zoom" src="/img/product_main.jpg" alt=""></a>
          <div class="nombre-precio">       
            <p class ="nombre">Nombre del producto: <%=dataCategory.product[i].producto%></p>
            <p class ="precio">Desde: <%=dataCategory.product[i].precio%></p>       
          </div>
        </article>
      <%}%>

    </section>
  </main>

  <!--FOOTER-->
  <%- include('partials/footer') %>

    
</body>

</html>