<%- include('partials/head.ejs')%>
  <link rel="stylesheet" href="/css/style_home.css">
  <link rel="stylesheet" href="/css/style_menu_responsive.css">


  </head>

  <body>
    <!-- HEADER -->
    <%- include('partials/header.ejs')%>
      <!-- HEADER -->
      
        <!-- <video src="/video/video.mp4" autoplay="autoplay" preload="auto" loop="loop"  ></video> -->
        
          <div class="header-video">
              <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline oncontextmenu="return false;" preload="auto"id="miVideo">
              <source src="/video/video.mp4" type="video/mp4">
            </video>
          </div>

       


      <section class="main-slider">
        <div class='slider'>
          <ul>
            <li><img src="/img/lamp1.jpg" alt=""></li>
            <li><img src="/img/colgantes3.jpg" alt=""></li>
            <li><img src="/img/lamp3.jpg" alt=""></li>
          </ul>
        </div>
      </section>

      <section class="banner">
        <div class="banner-box">
          <p class="banner-content"><i class="far fa-credit-card"></i> 3, 6 y 12 cuotas sin interés! A través de Mercado
            Pago</p>
        </div>
        <div class="banner-box">
          <p class="banner-content"><i class="fas fa-truck"></i> Envíos a todo el país gratis a partir de $10.000</p>
        </div>
        <div class="banner-box">
          <p class="banner-content"><i class="fas fa-money-bill-wave"></i> 20% descuento pagando con débito o
            transferencia</p>
        </div>
      </section>

      <main id="main-categori" class="main">
        <h2 id="titulo-mas-vendidos">SHOP</h2>
        <section id="categorias">
          <!--unifique las imagenes en una sola caja para mostrar mejor-->
          <div class="category-box">
            <%for(i=0; i < homeData.categoryList.length; i++) { %>
              <a href="/categorias/<%=homeData.categoryList[i].name+"/"+homeData.categoryList[i].id%>"><img class="zoom" src="<%=homeData.categoryList[i].homeImage%>"
                  alt="<%=homeData.categoryList[i].name%>"></a>
              <%}%>
          </div>
          </div>
      </main>

      <section id="mas-vendidos">
        <h2 id="sale">SALE</h2>
        <div class="elementos">
            <%for(i=0; i < 4; i++){%>
              <div id="first-box" class="box">
                <img src="<%=homeData.products[randomArray[i]].main_image%>" alt="<%=homeData.products[randomArray[i]].name%>">
                <a href="/product/detail/<%=homeData.products[randomArray[i]].id%>">
                  <div class="capa">
                    <h2>
                      <%= homeData.products[randomArray[i]].name %> <br><br>
                        $<%= homeData.products[randomArray[i]].price %>
                    </h2>
                  </div>
                </a>
              </div>
              <%}%>
          </div>

      </section>
      <!-- FOOTER -->
      <%- include('partials/footer.ejs')%>
        <!-- FOOTER -->

  </body>

  </html>