<!-- Partial head -->
<%- include('../partials/head.ejs')%>
    <title>Login | Focal Glow</title>
    <link rel="stylesheet" href="/css/styles-user-profile.css">




  </head>
    <script>
        function cambiar() {
            var pdrs = document.getElementById('file-upload').files[0].name;
            document.getElementById('info').innerHTML = pdrs;
        }
    </script>

<body>
        <%- include('../partials/header.ejs')%>
  <main>
    <aside class="column-1">  	
      <img class="img-redonda" class="profileImg"
            src="<%=locals.user.profileImg ? locals.user.profileImg : '/img/profile-pictures/profile.jpg' %>">
      <ul class="client-links">
        <li>Últimos Pedidos</li>
        <li>Tarjetas Asociadas</li>
      </ul>      
    </aside>

		<section class="data">
      <div class="title">
        <h2><%=`${locals.user.first_name} ${locals.user.last_name}`%></h2>
        <p class="edit-button">Editar Perfil</p>
      </div>

      <article class="profile-info">
			  <div class = "row">
				  <label>User Id</label>
          <p><%=locals.user.id%></p>
			  </div>
			  <div class = "row">
			  <label>Nombre</label>
          <p><%=locals.user.first_name%></p>
			  </div>
			  <div class = "row">
				  <label>Apellido</label>
          <p><%=locals.user.last_name%></p>
			  </div>
			  <div class = "row">
				  <label>Email</label>
          <p><%=locals.user.email%></p>
			  </div>
			  <div class = "row">
				  <label>Teléfono</label>
          <p><%=locals.user.email%></p>
			  </div>
			  <div class = "row">
				  <label>Dirección</label>
          <p><%=locals.user.email%></p>
			  </div>
      </article>        
    </section>
        
		       

  
                
     
               
            
  </main>
</body>

</html>