<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-detail.css">

</head>

<body>
  <%- include('../partials/header.ejs')%>

  
	<main>
    <form class="registry" method="POST" action="/users/<%=userToEdit.id%>/editPassword?_method=PUT">

			<section class="images-container">  	
				<img id="output" class="profileImg" for="profileImg" src="<%=userToEdit.profileImg%>">	
			</section>

			<h2>Modificar la contrase単a</h2>
			<h3>Usuario: <%=`${userToEdit.firstName} ${userToEdit.lastName}`%></h3>

			<section class="profile-info">
				<label for="oldPassword">Contrase単a Actual</label>
				<input type="password" name="oldPassword" id="oldPassword">
				<span class="error hidden" id="errorOldPassword"><%=(locals.errors && errors.oldPassword)?errors.oldPassword.msg:''%> </span>
		
				<label for="password">Nueva contrase単a</label>
				<input type="password" name="password" id="password">
				<span class="error hidden" id="errorPassword">
					<%=(locals.errors && errors.password)?errors.password.msg:''%>
				</span>
				<span class="error hidden" id="errorPasswordLength"></span>
        <span class="error hidden" id="errorPasswordUpperLower"></span>
        <span class="error hidden" id="errorPasswordNumberSpecial"></span>	
											
				<label for="rePassword">Confirmar contrase単a</label>
				<input type="password" name="rePassword" id="rePassword">
				<span class="error hidden" id="errorRePassword"><%=(locals.errors && errors.rePassword)?errors.rePassword.msg:''%></span>
						
			
			</section>
			
			<button type="submit" class="login-button">Confirmar</button>

			<a href="/users/<%=userToEdit.id%>/edit"><p class="login-button">Cancelar</p></a>

		</form> 		
	</main>
		
	<script src="/js/user-edit-password-validation.js"></script>
</body>

</html>