<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Registro | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-register.css">

</head>
<script>
  function cambiar() {
  	var pdrs = document.getElementById('file-upload').files[0].name;
  	document.getElementById('info').innerHTML = pdrs;
  }
</script>

  <body>
    <%- include('../partials/header.ejs')%>
    <main class="main-container">
      <form class="registry-form" method="POST" action="/users/register" enctype="multipart/form-data">
        <div class="registry-container">

          <label for="firstName">Nombre</label>
          <input class="login" type="text" name="firstName" id="firstName"
					 <% if (locals.oldData) {%>
              value = "<%=oldData.firstName%>"
            <%}%>>
          <% if (locals.errors && errors.firstName) {%>
            <span class="error"><%=errors.firstName.msg%></span>
          <% } %>

          <label for="lastName">Apellido</label>
          <input class="login" type="text" name="lastName" id="lastName" 
            <% if (locals.oldData) {%>
							 value = "<%=oldData.lastName%>"
            <%}%>>
          <% if (locals.errors && errors.lastName) { %>
            <span class="error"><%=errors.lastName.msg%></span>
          <%}%>

          <label for="email">Email</label>
          <input class="login" type="text" name="email" id="email" 
          <% if (locals.oldData) {%>
                value = "<%=oldData.email%>"
          <%}%>>
          <% if (locals.errors && errors.email) { %>
            <span class="error"><%=errors.email.msg%></span>
          <%}%>
                        
					<label for="password">Contraseña</label>
          <input class="login" type="password" name="password" id="password">
          <% if (locals.errors && errors.password) { %>
            <span class="error"><%=errors.password.msg%></span>
          <%}%>
					
          <label for="rePassword">Confirmar contraseña</label>
          <input class="login" type="password" name="rePassword" id="rePassword">
          <% if (locals.errors && errors.rePassword) { %>
            <span class="error"><%=errors.rePassword.msg%></span>
          <%}%>

          <label for="file-upload" class="subir">
          	<span><i class="far fa-user-circle"></i> Subir foto de perfil</span>
          </label>
          <%if(locals.errors && errors.profileImg){%>
              <span class="error-message"> <%=errors.profileImg.msg%> </span>
          <%}%>

          <div id="info"></div>
          <input id="file-upload" name="profileImg" onchange='cambiar()' type="file" style='display: none' accept = "image/*">
          
					<div class="button-container">
            <button type="submit" class="login-button">Continuar</button>
          </div>


    </main>
    <script src="/js/user-register-validation.js"></script>
  </body>

</html>