<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-detail.css">

</head>
<!-- <script>
  function cambiar() {
    var imageToLoad = document.getElementById('file-upload')
		var output = document.getElementById('output')
		output.src = URL.createObjectURL(imageToLoad.files[0])
		output.onload = function () {
      URL.revokeObjectURL(output.src) // free memory
    } 
  }
</script> -->

<body>
  <%- include('../partials/header.ejs')%>

  
	<main>
    <form class="registry" method="POST" action="/users/<%=userToEdit.id%>/edit?_method=PUT" enctype="multipart/form-data">
			<section class="images-container">  									

				<figure id="imagePreview"><img id="output" class="profileImg" for="profileImg" src="<%=userToEdit.profileImg%>"></figure>
				
				<div class="file-btn">
					<label for="profileImg" class="subir">Cambiar imagen</label>

					<input id="profileImg" name="profileImg" type="file" style='display: none' accept = "image/*">
					
				</div>
				<span id="errorProfileImg" class="error hidden"><%=(locals.errors && errors.profileImg) ? errors.profileImg.msg : ''%></span>
			</section>

			<h2>Perfil de <%=userToEdit.firstName%></h2>

			<section class="profile-info">
       	<label for="firstName">Nombre</label>
        <input type="text" name="firstName" id="firstName"			
					<%= (locals.oldData)? `value=${oldData.firstName}`:`value=${userToEdit.firstName}`%>
				>
				<span class="error hidden" id="errorFirstName"><%=(locals.errors && errors.firstName)?errors.firstName.msg:''%></span>					
																	
				<label for="lastName">Apellido</label>
				<input type="text" name="lastName" id="lastName"
				<%= (locals.oldData)? `value=${oldData.lastName}`:`value=${userToEdit.lastName}`%>
				>
				<span class="error hidden" id="errorLastName"><%=(locals.errors && errors.lastName)?errors.lastName.msg:''%></span>
															
				<label for="email">Email</label>
				<input type="email" name="email" id="email"
				<%=(locals.oldData)? `value=${oldData.email}`:`value=${userToEdit.email}`%>
				>
				<span class="error hidden" id="errorEmail"><%=(locals.errors && errors.email)?errors.email.msg:''%></span>
																							
				<label for="phone">Teléfono</label>
				<input type="tel" name="phone" id="phone" <%=(locals.oldData && oldData.phone)? `value=${oldData.phone}`:`value=${userToEdit.phone}`%>
				>
				<span class="error hidden" id="errorPhone"><%=(locals.errors && errors.phone)?errors.phone.msg:''%></span>
																						
				<label for="address">Dirección</label>
				<textarea  type="text" name="address" id="address" col= "10" row="20" 
				<% if (locals.oldData && oldData.address) {%>
					<%=`value=${oldData.address}`%>><%=oldData.address%></textarea>
				<%} else {%>
					<%=`value=${userToEdit.address}`%>><%=userToEdit.address%></textarea>
				<%}%>
				
				<span class="error hidden" id="errorAddress"><%=(locals.errors && errors.address)?errors.address.msg:''%></span>			
			</section>
			
			<button type="submit" class="login-button">Actualizar</button>

			<a href="/users/<%=userToEdit.id%>/editPassword"><p class="login-button">Cambiar contraseña</p></a>

		</form> 		
	</main>
	<script src="/js/user-edit-validation.js"></script>
		
</body>

</html>