<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-edit.css">
    



</head>
<script>
  function cambiar() {
    var pdrs = document.getElementById('file-upload').files[0].name;
    document.getElementById('info').innerHTML = pdrs;
  }
</script>

<body>
  <%- include('../partials/header.ejs')%>

  
	<main>
    <form class="registry-form2" method="POST" action="/users/<%=userToEdit.id%>/edit?_method=PUT" enctype="multipart/form-data">
			<aside class="column-1">  	
				<label for="profileImg">
					<img id="output" class="profileImg" for="profileImg" src="<%=userToEdit.profileImg%>">
				</label>

				<div class="file-btn">
					Cambiar imagen
					
					<input onchange="loadFile(event)" type="file" name="profileImg" accept="image/*">
				
					<script>
          	var loadFile = function (event) {
            	var output = document.getElementById('output');
            	output.src = URL.createObjectURL(event.target.files[0]);
            	output.onload = function () {
              	URL.revokeObjectURL(output.src) // free memory
            	}
          	};
      		</script>
				</div>
				<p class="error"><%=(locals.errors && errors.profileImg) ? errors.profileImg.msg : ''%></p>
			</aside>

			

			<section class="data">
        <div class="title">
					<h2><%=`${userToEdit.firstName} ${userToEdit.lastName}`%></h2>
					<button type="submit" class="btn">Actualizar</button>
				</div>

				<article class="profile-info">        
					<div class = "row">
						<label for="first_name">Nombre</label>
            <input class="<%=(locals.errors && errors.firstName) ? 'error edit' : 'edit'%>" type="text" name="firstName" id="first_name"
							<% if (locals.errors && errors.firstName) {%>
								placeholder = "<%=errors.firstName.msg%>"
							<%} else if (locals.oldData) { %>
								value="<%=oldData.firstName%>" <%} else {%>
								value="<%=userToEdit.firstName%>"<%}%>
						>
					</div>

					<div class = "row">
						<label for="last_name">Apellido</label>
						<input class="<%=(locals.errors && errors.lastName) ? 'error edit' : 'edit'%>" type="text" name="lastName" id="last_name"
							<% if (locals.errors && errors.lastName) {%>
								placeholder = "<%=errors.lastName.msg%>"
							<%} else if (locals.oldData) { %>
								value="<%=oldData.lastName%>" <%} else {%>
								value="<%=userToEdit.lastName%>"<%}%>
						>
					</div>

					<div class = "row">
						<label for="email">Email</label>
						<input class="<%=(locals.errors && errors.email) ? 'error edit' : 'edit'%>" type="email" name="email" id="email"
							<% if (locals.errors && errors.email) {%>
								placeholder = "<%=errors.email.msg%>"
							<%} else if (locals.oldData) { %>
								value="<%=oldData.email%>" <%} else {%>
								value="<%=userToEdit.email%>"<%}%>
						>
					</div>

					<div class = "row">
						<label for="phone">Teléfono</label>
            <input class="edit" type="tel" name="phone" id="phone" value="<%=userToEdit.phone%>">
					</div>
					<div class = "row">
						<label for="address">Dirección</label>
            <textarea class="edit" type="text" name="address" id="address" col= "10" row="10" value="<%=userToEdit.address%>"><%=userToEdit.address%></textarea>
					</div>
					
					
         
				</article>    
				
      </section>
		</form> 
		<form method="GET" action="/users/<%=userToEdit.id%>/editPassword">
			<button class="btn">¿Cambiar contraseña?</button>
		</form>


	</main>
		<%- include('../partials/footer.ejs')%>
	
</body>

</html>