<!-- Partial head -->
<%- include('../partials/head.ejs')%>
  <title>Perfil | Focal Glow</title>
    
  <link rel="stylesheet" href="/css/styles-user-detail.css">
</head>
   
<body>
  <%- include('../partials/header.ejs')%>
  <main>
    <div class = "registry-container">
      <section class="images-container">  	
        <img class="profileImg" src="<%=userToView.profileImg%>">   
      </section>

      <h2>Perfil de <%=userToView.firstName%></h2>
   
		  <section class="profile-info">
        
        <label>Nombre</label>
        <p class= "input-login"><%=userToView.firstName%></p>
          
        <label>Apellido</label>
        <p class= "input-login"><%=userToView.lastName%></p>
          
        <label>Email</label>
        <p class= "input-login"><%=userToView.email%></p>
          
        <label>Teléfono</label>
        <p class= "input-login"><%=userToView.phone%></p>
          
        <label>Dirección</label>
        <p class= "input-login"><%=userToView.address%></p>
      
      </section>

      <a href="/users/<%=userToView.id%>/edit"><p class="login-button">Editar Perfil</p></a>
    </div>
       
  </main>
  
</body>

</html>