<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-profile.css">
    



</head>
<script>
  function cambiar() {
    var pdrs = document.getElementById('file-upload').files[0].name;
    document.getElementById('info').innerHTML = pdrs;
  }
</script>

<body>
  <%- include('../partials/header.ejs')%>

  
    <form class="registry-form2" method="POST" action="/users/<%=userToEdit.id%>/edit?_method=PUT" enctype="multipart/form-data">
			<main>
			<aside class="column-1">  	
				<label for="profileImg">
					<img id="output" class="profileImg" for="profileImg" src="<%=userToEdit.profileImg ? userToEdit.profileImg : '/img/profile-pictures/profile.jpg' %>">
				</label>
				<div class="file-btn">
					Cambiar imagen
				<input onchange="loadFile(event)" type="file" name="profileImg" accept="jpg">
				<script>
          var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
              URL.revokeObjectURL(output.src) // free memory
            }
          };
      	</script>
			</div>
			
			</aside>

			<section class="data">
        <div class="title">
					<h2><%=`${userToEdit.first_name} ${userToEdit.last_name}`%></h2>
					<button type="submit" class="btn">Actualizar</button>
				</div>
				<article class="profile-info">        
					<div class = "row">    
						<label for="id">User Id</label>
            <p class="no-edit"><%=userToEdit.id%></p>
					</div>

					<div class = "row">
						<label for="first_name">Nombre</label>
            <input class="<%=(locals.errors && errors.first_name) ? 'error edit' : 'edit'%>" type="text" name="first_name" id="first_name"
							<% if (locals.errors && errors.first_name) {%>
								placeholder = "<%=errors.first_name.msg%>"
							<%} else if (locals.oldData) { %>
								value="<%=oldData.first_name%>" <%} else {%>
								value="<%=userToEdit.first_name%>"<%}%>
						>
					</div>

					<div class = "row">
						<label for="last_name">Apellido</label>
						<input class="<%=(locals.errors && errors.last_name) ? 'error edit' : 'edit'%>" type="text" name="last_name" id="last_name"
							<% if (locals.errors && errors.last_name) {%>
								placeholder = "<%=errors.last_name.msg%>"
							<%} else if (locals.oldData) { %>
								value="<%=oldData.last_name%>" <%} else {%>
								value="<%=userToEdit.last_name%>"<%}%>
						>
					</div>

					<div class = "row">
						<label for="email">Email</label>
						<input class="<%=(locals.errors && errors.email) ? 'error edit' : 'edit'%>" type="email" name="email" id="email"
							<% if (locals.errors && errors.email) {%>
								placeholder = "<%=errors.email.msg%>"
							<%} else if (locals.oldData) { %>
								value="<%=oldData.email%>" <%} else {%>
								value="<%=userToEdit.email%>"<%}%>
						>
					</div>
					
					<div class = "row">
						<label for="passwordBtn">Contraseña</label>
            <button>Modificar Contraseña</button>			
					</div>
					<div class = "row hidden">
						<label for="password">Nueva contraseña</label>
						<input class="edit" type="password" name="password" id="password" value="">
					</div>
					<div class="row hidden">
						<label for="rePassword">Confirmar contraseña</label>
						<input class="edit" type="password" name="rePassword" id="rePassword" value=""> 
					</div>
					<div class = "row">
						<label for="phone">Teléfono</label>
            <input class="edit" type="tel" name="phone" id="phone" value="<%=userToEdit.phone%>">
					</div>
					<div class = "row">
						<label for="address">Dirección</label>
            <textarea class="edit" type="text" name="address" id="address" col= "10" row="10" value="<%=userToEdit.address%>"><%=userToEdit.address%></textarea>
					</div>
                
         
            <input id="file-upload" name="profileImg" onchange='cambiar()' type="file" style='display: none'>
            <div class="button-container">
            
      </section>
		</main>
    </form> 
		<%- include('../partials/footer.ejs')%>
	
</body>

</html>