<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-detail.css">

</head>
<script>
  function cambiar() {
    var imageToLoad = document.getElementById('file-upload')
		var output = document.getElementById('output')
		output.src = URL.createObjectURL(imageToLoad.files[0])
		output.onload = function () {
      URL.revokeObjectURL(output.src) // free memory
    } 
  }
</script>

<body>
  <%- include('../partials/header.ejs')%>

  
	<main>
    <form class="registry-container" method="POST" action="/users/<%=userToEdit.id%>/edit?_method=PUT" enctype="multipart/form-data">
			<section class="images-container">  	
				
					<img id="output" class="profileImg" for="profileImg" src="<%=userToEdit.profileImg%>">
				

				<div class="file-btn">
					<label for="file-upload" class="subir">Cambiar imagen</label>

					<input id="file-upload" name="profileImg" onchange='cambiar()' type="file" style='display: none' accept = "image/*">
					
				</div>
				<p class="<%=(locals.errors && errors.profileImg) ? 'errors input' : ''%>""><%=(locals.errors && errors.profileImg) ? errors.profileImg.msg : ''%></p>
			</section>

			<h2>Perfil de <%=userToEdit.firstName%></h2>

			<section class="profile-info">
       	<label for="first_name">Nombre</label>
        <input class="<%=(locals.errors && errors.firstName) ? 'error input' : 'input'%>" type="text" name="firstName" id="first_name"
					<% if (locals.errors && errors.firstName) { %>
							placeholder = "<%=errors.firstName.msg %>"
								<% } else if (locals.oldData) { %>
									value="<%=oldData.firstName%>" <%}							else { %>
											value="<%=userToEdit.firstName%>"
										<% } %>
				>
									
									
								
				<label for="last_name">Apellido</label>
				<input class="<%=(locals.errors && errors.lastName) ? 'error input' : 'input'%>" type="text" name="lastName" id="last_name"
					<% if (locals.errors && errors.lastName) {%>
						placeholder = "<%=errors.lastName.msg%>"
					<%} else if (locals.oldData) { %>
							value="<%=oldData.lastName%>" <%} else { %>
							value ="<%=userToEdit.lastName%>"
					<%}%>
				>
							
								
								
				<label for="email">Email</label>
				<input class="<%=(locals.errors && errors.email) ? 'error input' : 'input'%>" type="email" name="email" id="email"
					<% if (locals.errors && errors.email) {%>
						placeholder = "<%=errors.email.msg%>"
					<%} else if (locals.oldData) { %>
						value="<%=oldData.email%>" <%} else {%>
						value="<%=userToEdit.email%>"
					<%}%>
				>
												
											
											
				<label for="phone">Teléfono</label>
				<input class="input" type="tel" name="phone" id="phone" value="<%=userToEdit.phone%>">
											
											
				<label for="address">Dirección</label>
				<textarea class="input" type="text" name="address" id="address" col= "10" row="20" value="<%=userToEdit.address%>"><%=userToEdit.address%></textarea>
							
			</section>
			
			<button type="submit" class="login-button">Actualizar</button>

			<a href="/users/<%=userToEdit.id%>/editPassword"><p class="login-button">Cambiar contraseña</p></a>

		</form> 		
	</main>
		
</body>

</html>