<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-edit-password.css">

</head>

<body>
  <%- include('../partials/header.ejs')%>
  <main>
		
    <form class="registry-form2" method="POST" action="/users/<%=userToEdit.id%>/editPassword?_method=PUT">
			<h1>Formulario para modificar la contraseña</h1>
			<div class="title">		
				<h2>Usuario: <%=`${userToEdit.firstName} ${userToEdit.lastName}`%></h2>
				<button type="submit" class="btn">Modificar Contraseña</button>
			</div>
			
			<section class="inputs"> 

				<div class = "row">
					<label for="oldPassword">Contraseña Actual</label>
					<input class="<%=(locals.errors && errors.oldPassword) ? 'error edit' : 'edit'%>" type="password" name="oldPassword" id="oldPassword"
							<% if (locals.errors && errors.oldPassword) {%>
								placeholder = "<%=errors.oldPassword.msg%>"
							<%}%>
						>
				</div>

				<div class = "row">
					<label for="password">Nueva contraseña</label>
					<input class="<%=(locals.errors && errors.password) ? 'error edit' : 'edit'%>" type="password" name="password" id="password"
							<% if (locals.errors && errors.password) {%>
								placeholder = "<%=errors.password.msg%>"
							<%}%>
						>
				</div>

				<div class="row">
					<label for="rePassword">Confirmar contraseña</label>
					<input class="<%=(locals.errors && errors.rePassword) ? 'error edit' : 'edit'%>" type="password" name="rePassword" id="rePassword"
						<% if (locals.errors && errors.rePassword) {%>
								placeholder = "<%=errors.rePassword.msg%>"
						<%}%>
					>			
				</div>

			</section>          
		</form> 
	</main>
    
	<%- include('../partials/footer.ejs')%>
	
</body>

</html>