<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Editar Perfil | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-detail.css">

</head>

<body>
  <%- include('../partials/header.ejs')%>

  
	<main>
    <form class="registry-container" method="POST" action="/users/<%=userToEdit.id%>/editPassword?_method=PUT">

			<section class="images-container">  	
				<img id="output" class="profileImg" for="profileImg" src="<%=userToEdit.profileImg%>">	
			</section>

			<h2>Modificar la contrase単a</h2>
			<h3>Usuario: <%=`${userToEdit.firstName} ${userToEdit.lastName}`%></h3>

			<section class="profile-info">
				<label for="oldPassword">Contrase単a Actual</label>
				<input class="<%=(locals.errors && errors.oldPassword) ? 'error input' : 'input'%>" type="password" name="oldPassword" id="oldPassword"
					<% if (locals.errors && errors.oldPassword) {%>
						placeholder = "<%=errors.oldPassword.msg%>"
					<%}%>
				>
		
				<label for="password">Nueva contrase単a</label>
				<input class="<%=(locals.errors && errors.password) ? 'error input' : 'input'%>" type="password" name="password" id="password"
					<% if (locals.errors && errors.password) {%>
						placeholder = "<%=errors.password.msg%>"
					<%}%>
				>
							
								
								
				<label for="rePassword">Confirmar contrase単a</label>
				<input class="<%=(locals.errors && errors.rePassword) ? 'error input' : 'input'%>" type="password" name="rePassword" id="rePassword"
					<% if (locals.errors && errors.rePassword) {%>
						placeholder = "<%=errors.rePassword.msg%>"
					<%}%>
				>			
			
			</section>
			
			<button type="submit" class="login-button">Confirmar</button>

			<a href="/users/<%=userToEdit.id%>/edit"><p class="login-button">Cancelar</p></a>

		</form> 		
	</main>
		
</body>

</html>