<!-- Partial head -->
<%- include('../partials/head.ejs')%>
<title>Registro | Focal Glow</title>
<link rel="stylesheet" href="/css/styles-user-register.css">

</head>
  <body>
    <%- include('../partials/header.ejs')%>
    <main class="main-container">
      <form class="registry" method="POST" action="/users/register" enctype="multipart/form-data">
        <label for="firstName">Nombre</label>
        <input class="login" type="text" name="firstName" id="firstName"
					<%= locals.oldData? `value = ${oldData.firstName}`:''%>
        >       
        <span class="error hidden" id="errorFirstName"><%=(locals.errors && errors.firstName)?errors.firstName.msg:''%></span>
        
        <label for="lastName">Apellido</label>
        <input class="login" type="text" name="lastName" id="lastName" 
          <%=locals.oldData? `value = ${oldData.lastName}`:''%>
        >      
        <span class="error hidden" id="errorLastName"><%=(locals.errors && errors.lastName)?errors.lastName.msg:''%></span>
        
        <label for="email">Email</label>
        <input class="login" type="text" name="email" id="email" 
        <%locals.oldData? `value = ${oldData.email}`:''%>
        >
        <span class="error hidden" id="errorEmail"><%=(locals.errors && errors.email)?errors.email.msg:''%></span>
        
                        
				<label for="password">Contraseña</label>
        <input class="login" type="password" name="password" id="password">
        <span class="error hidden" id="errorPassword"><%=(locals.errors && errors.password)?errors.password.msg:''%></span>
        
					
        <label for="rePassword">Confirmar contraseña</label>
        <input class="login" type="password" name="rePassword" id="rePassword">
        <span class="error hidden" id="errorRePassword"><%=(locals.errors && errors.rePassword)?errors.rePassword.msg:''%></span>
        

        <label for="profileImg" class="subir">
          <span><i class="far fa-user-circle"></i> Subir foto de perfil</span>
        </label>        
        <input id="profileImg" name="profileImg" type="file" style='display: none' accept = "image/*">
        <span class="error-message hidden" id="errorProfileImg"><%=(locals.errors && errors.profileImg)? errors.profileImg.msg:''%> </span>      
        <figure id="imagePreview"></figure>

				<div class="button-container">
          <button type="submit" class="login-button">Continuar</button>
        </div>

      </form>
    </main>
    <script src="/js/user-register-validation.js"></script>
  </body>

</html>