<!-- Partial head -->
<%- include('../partials/head.ejs')%>

    <title>Focal Glow | Listado de Usuarios </title>
    <link rel="stylesheet" href="/css/styles-user-list.css">


    </head>

    <body>
        <%- include('../partials/header.ejs')%>

            <main class="container-users">
                <table id="customers">
                    <tr>
                        <th class="id">ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Mail</th>
                        <th class="profile">Imagen de Perfil</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                    <% userList.forEach(e=> { %>
                        <tr>
                            <td>
                                <%= e.id%>
                            </td>
                            <td>
                                <%= e.first_name%>
                            </td>
                            <td>
                                <%= e.last_name%>
                            </td>
                            <td>
                                <%= e.email%>
                            </td>
                            <td>
                                <img class = "img-redonda" src=
                                <%=e.profileImg ? e.profileImg : '/img/profile-pictures/profile.jpg'%>>
                                 
                            </td>
                            <td> <a href="/users/<%=e.id%>/edit">
                                <i class="far fa-edit"></i>
                            </a></td>
                            <td><form action="/users/<%=e.id%>?_method=DELETE" method="POST">
                                <button type="submit"><i class="far fa-trash-alt"></i></button>
                            </form></td>


                        </tr>
                        <%})%>
            </main>
    </body>

    </html>