<!-- Partial head -->
<%- include('../partials/head.ejs')%>

    <title>Focal Glow | Listado de Usuarios </title>
    <link rel="stylesheet" href="/css/styles-user-list.css">
   </head>

    <body>
        <%- include('../partials/header.ejs')%>

            <main>
                <h3 class="titulo">Listado de Usuarios</h3>

                <table id="customers">
                    <tr>
                        <th class="id center">ID</th>
                        <th class ="left">Nombre</th>
                        <th class ="left">Apellido</th>
                        <th class ="left">Mail</th>
                        <th class="profile center">Imagen de Perfil</th>
                        <th class="center">Ver</th>
                        <th class="center">Editar</th>
                        <th class ="center">Borrar</th>
                    </tr>
                    <% userList.forEach(e=> { %>
                        <tr>
                            <td class="id center">
                                <%= e.id%>
                            </td>
                            <td>
                                <%= e.first_name%>
                            </td>
                            <td>
                                <%= e.last_name%>
                            </td>
                            <td>
                                <%= e.email%>
                            </td>
                            <td class="center">
                                <img class = "img-round" src=
                                <%=e.profileImg ? e.profileImg : '/img/profile-pictures/profile.jpg'%>>
                                 
                            </td>
                            <td class="center"> 
                                <a href="/users/<%=e.id%>/detail"><i class="fas fa-search"></i></a>
                            </td>
                            <td class="center"> 
                                <a href="/users/<%=e.id%>/edit"><i class="far fa-edit"></i></a>
                            </td>
                            <td class="center">
                                <form action="/users/<%=e.id%>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <%})%>
                </table>        
            </main>
    </body>

    </html>