<!-- Partial head -->
<%- include('../partials/head.ejs')%>
    <title>Perfil | Focal Glow</title>
    <link rel="stylesheet" href="/css/styles-user-detail.css">
    <link rel="stylesheet" href="/css/styles-registro.css">




</head>
   

<body>
        <%- include('../partials/header.ejs')%>
  <main>
    <aside class="column-1">  	
      <img class="profileImg"
            src="<%=userToView.profileImg ? userToView.profileImg : '/img/profile-pictures/profile.jpg' %>">
      <ul class="client-links">
        <li>Últimos Pedidos</li>
        <li>Tarjetas Asociadas</li>
      </ul>      
    </aside>
   
		<section class="data">
      <div class="title">
        <h2><%=`${userToView.firstName} ${userToView.lastName}`%></h2>
        <a href="/users/<%=userToView.id%>/edit"><p class="edit-button">Editar Perfil</p> </a>
      </div>

      <article class="profile-info">
			  <div class = "row">
			  <label>Nombre</label>
          <p><%=userToView.firstName%></p>
			  </div>
			  <div class = "row">
				  <label>Apellido</label>
          <p><%=userToView.lastName%></p>
			  </div>
			  <div class = "row">
				  <label>Email</label>
          <p><%=userToView.email%></p>
			  </div>
			  <div class = "row">
				  <label>Teléfono</label>
          <p><%=userToView.phone%></p>
			  </div>
			  <div class = "row">
				  <label>Dirección</label>
          <p><%=userToView.address%></p>
			  </div>
      </article>        
    </section>
        
		       

  
                
     
               
            
  </main>
  <%- include('../partials/footer.ejs')%>
</body>

</html>